<%- include("../partials/head", {title: 'LOOP - Crear Producto'}) %>

<body>
    <%- include("../partials/header") %>

    <main>
        <h1 class="main-titulo">CREAR PRODUCTO</h1>

        <div style="position:absolute;padding:10px 30px;margin:20px">
            <a href="/products/" style="background-color: white;font-size: 1.3em;font-weight: bold; color: black; text-decoration: none;padding: 5px;">
              <i class="fas fa-angle-left"></i> VOLVER
            </a>
        </div>

        <form action="/products/create" method="post" class="formulario" enctype="multipart/form-data">
            <label>NOMBRE:</label>
            <input type="text" class="input-form" name="name" placeholder="Nombre del producto" value="<%= locals.oldData ? oldData.name : null %>">
            <% if (locals.errors && errors.name) { %>
                <p style="color:rgb(235, 0, 0);"><%= errors.name.msg %></p>
            <% } %>
            <label>PRECIO:</label>
            <input type="number" class="input-form" name="price" placeholder="Precio del producto" value="<%= locals.oldData ? oldData.price : null %>">
            <% if (locals.errors && errors.price) { %>
                <p style="color:rgb(235, 0, 0);"><%= errors.price.msg %></p>
            <% } %>
            <label>DESCRIPCION:</label>
            <input type="text" class="input-form" name="description" placeholder="Descripcion del producto" value="<%= locals.oldData ? oldData.description : null %>">
            <% if (locals.errors && errors.description) { %>
                <p style="color:rgb(235, 0, 0);"><%= errors.description.msg %></p>
            <% } %>
            <label>IMAGEN:</label>
            <input type="file" class="input-form" name="image" placeholder="Imagen del producto" accept="image/png,image/jpeg">
            <% if (locals.errors && errors.image) { %>
                <p style="color:rgb(235, 0, 0);"><%= errors.image.msg %></p>
            <% } %>
            <button type="submit" style="font-size:1.3em;" class="form-enviar">Crear</button>
        </form>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>