<%- include("../partials/head", {title: 'LOOP - Editar Producto'}) %>

<body>
    <%- include("../partials/header") %>

    <main>
        <h1 class="main-titulo">EDITAR PRODUCTO</h1>
        
        <div style="position:absolute;padding:10px 30px;margin:20px">
            <a href="/products/" style="background-color: white;font-size: 1.3em;font-weight: bold; color: black; text-decoration: none;padding: 5px;">
              <i class="fas fa-angle-left"></i> VOLVER
            </a>
        </div>

        <!-- enctype="multipart/form-data" -->
        <form action="/products/<%= productToEdit.id %>?_method=PUT" method="post" class="formulario" enctype="multipart/form-data">

            <label style="color:#565656">NOMBRE:</label>
            <input type="text" class="input-form" name="name" placeholder="Nombre del producto" value="<%= productToEdit.name, locals.oldData ? oldData.name : null %>">
            <% if (locals.errors && errors.name) { %>
                <p style="color:rgb(235, 0, 0);"><%= errors.name.msg %></p>
            <% } %>

            <label style="color:#565656">PRECIO:</label>
            <input type="number" class="input-form" name="price" placeholder="Precio del producto" value="<%= productToEdit.price, locals.oldData ? oldData.price : null %>">
            <% if (locals.errors && errors.price) { %>
                <p style="color:rgb(235, 0, 0);"><%= errors.price.msg %></p>
            <% } %>

            <label style="color:#565656">DESCRIPCION:</label>
            <input type="text" class="input-form" name="description" placeholder="Descripcion del producto" value="<%= productToEdit.description, locals.oldData ? oldData.description : null %>">
            <% if (locals.errors && errors.description) { %>
                <p style="color:rgb(235, 0, 0);"><%= errors.description.msg %></p>
            <% } %>

            <label style="color:#565656">IMAGEN:</label>
            <br>
            <img src="<%= productToEdit.image %>" width="300px" alt="" >
            <% if (locals.errors && errors.image) { %>
                <p style="color:rgb(235, 0, 0);"><%= errors.image.msg %></p>
            <% } %>
            <br>
            <br>
            <label style="color:#565656">CAMBIAR IMAGEN:</label>
            <input type="file" class="input-form" name="currentImage" >
            <button type="submit" style="font-size:1.3em;" class="form-enviar">Editar</button>
        </form>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>