<%- include("partials/head", {title: 'LOOP - Detalle de Producto'}) %>

<body>
  <%- include("partials/header") %>
  <main>

    <h1 class="main-titulo">DETALLE DEL PRODUCTO</h1>

      <div style="position:absolute;padding:10px 30px;margin:20px">
        <a href="/" style="border-radius: 5px; background-color: white;font-size: 1.3em;font-weight: bold; color: black; text-decoration: none;padding: 10px;">
          <i class="fas fa-angle-left"></i> VOLVER
        </a>
      </div>

      <div class="container-cervezas" style="display: flex;justify-content: center;">

        <span>
          <div>
            <img src="<%= product.image %>" width="100%" alt="lata" />
          </div>

            <div class="product-box">
              <h2 style="text-align: center;"><%= product.name %></h2>

              <hr>

              <div style="text-align:center;">
                <p class="product-price">$<%= product.price %></p>
                <p class="cervezaEnvio">ENVIO GRATIS</p>
              </div>
            
              <hr style="margin:20px 0;">

              <p><strong>Descripción:</strong> <%= product.description %></p>

          <div class="productButton">
            <h3>+ AGREGAR</h3>
          </div>
        </div>
      </span>

    </div>


    </main>

    <%- include("partials/footer") %>

  </body>
</html>
