<%- include("../partials/head", {title: 'LOOP - Lista de Productos'}) %>

<body>
    <%- include("../partials/header") %>

    <main>
        <h1 class="main-titulo">LISTA DE PRODUCTOS</h1>

        <div style="padding: 0 30px; display:flex;">
            <a href="/products/create">
                <h3 style="color: white;border: 1px solid white;border-radius: 5px;width: 200px;text-align: center;">
                    + CREAR PRODUCTO
                </h3>
            </a>
        </div>

        <div style="display: flex;flex-wrap: wrap;">
            <% products.forEach(product => { %>
                <div class="product-box" style="margin:20px;">
                    <!-- <p><%= product.id %></p> -->
                    <h2><%= product.name %></h2>
                    <img src="<%= product.image %>" width="200px" alt="">
                    <p>$<%= product.price %></p>
                    <p><%= product.description.toString().substring(0,40) %></p>

                    <div class="list-container-products">
                        <a href="/products/<%= product.id %>">
                            <div>
                                <i class="fas fa-eye"></i>VER
                            </div>
                        </a>
                        <a href="/products/<%= product.id %>/edit">
                            <div>
                                <i class="fas fa-pen"></i>EDITAR
                            </div>
                        </a>

                        <form action="/products/<%= product.id %>/delete/?_method=delete" method="post" >
                            <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" style="font-size:1em;background: none;border: none;cursor: pointer;">
                                    <div>
                                        <i class="fas fa-trash"></i>
                                        BORRAR
                                    </div>
                                </button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
                
    </main>

    

    <%- include("../partials/footer") %>

</body>
</html>